lib/form/doctrine/op*Plugin
web/cache/*
log/*
plugins/op*
!plugins/opSkinBasicPlugin
!plugins/opSkinClassicPlugin
plugins/.*
lib/filter/doctrine/*
cache/*
data/migrations/generated/*
config/ProjectConfiguration.class.php
config/databases.yml
config/OpenPNE.yml
config/plugins.yml
lib/model/doctrine/base/*
data/sql/*.*
lib/form/doctrine/base/*
lib/filter/doctrine/base/*
lib/model/doctrine/op*Plugin
web/*Plugin
web/sf
data/config/*
web/cache/*
config/config.OpenPNE2.php
data/*.lck

# deb package
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.debhelper.log
debian/openpne3/
debian/openpne3-skin-basic/
debian/openpne3-skin-classic/
debian/symfony/
debian/symfony-plugins-formextra/
debian/symfony-plugins-imagehandler/
debian/symfony-plugins-protoculous/
debian/symfony-plugins-templatingview/
