#!/usr/bin/make -f

different_pkgver=$(shell ls debian/*.version | xargs -Ifile basename file .version)

install:
	dh_testdir
	dh_testroot
	dh_install -Xtest/
	dh_installdirs
	dh_installcron
	dh_installdocs
	dh_installchangelogs
	dh_installdeb
	mkdir -p debian/symfony/usr/share/
	mv debian/openpne3/usr/share/openpne3/lib/vendor/symfony debian/symfony/usr/share/
	rm -rf \
		debian/openpne3/usr/share/openpne3-plugins/sfProtoculousPlugin/web/js/* \
		debian/openpne3/usr/share/openpne3/web/js/tiny_mce
	mkdir -p debian/openpne3/etc/apache2/sites-available
	cp debian/conf/apache.conf debian/openpne3/etc/apache2/sites-available/openpne3
	mv debian/openpne3/usr/share/openpne3/config/OpenPNE.yml.sample debian/openpne3/etc/openpne3/OpenPNE.yml
	mv debian/openpne3/usr/share/openpne3/config/ProjectConfiguration.class.php.sample debian/openpne3/etc/openpne3/ProjectConfiguration.class.php
	touch debian/openpne3/etc/openpne3/databases.yml
	dh_link
	dh_gencontrol $(shell echo $(different_pkgver) | sed -e 's/\<\(\S*\)/-N\1/g')
	for pkg in $(different_pkgver); do \
		dh_gencontrol -p$$pkg -- -v`cat debian/$${pkg}.version`; \
	done
	dh_md5sums
	dh_builddeb

clean: 
	dh_testdir
	dh_clean

build:

binary-indep: build install
binary-arch: build install
binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
